{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div id="user">
<p>Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.</p>
<hr>
<form method='post' action=''>{% csrf_token %}
<table>
<tr>
    {% if form.email.errors %}<p class="errors">{{form.email.errors}}</p>{% endif %}
    <td>{{ form.email.label_tag }}</td>
    
    <td>{{ form.email }}</td>
    
    
</tr>

    
    <tr><td></td><td><input class ="btn btn-primary"type='submit' value="Reset password" /></td></tr>
<tr>
	<td><hr></td><td><hr></td>
</tr>
</table>
</form>
</div>
{% endblock %}
